 .logo-Login{

  margin-left: 34%;

  margin-top: 1%;

  margin-right: center;

  }

#showPassword {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
  }


.div-login{

  background-color: whitesmoke ;

  background-position: center;

  margin-left: 30%;

  margin-right: 30%;

  padding: 5%;  

  padding-top: 1%;

  border-radius: 5%;

  font-family: 'Source Sans Pro', sans-serif;

  }




  .h1-LoginTitle{

  text-align: center;

  font-family: 'Source Sans Pro', sans-serif;

  color:#2D8D34;

  text-shadow: black 1px 0 70px;

  padding: 1%;

  font-weight: bold;

  padding-top: 2%;

  }

 

.boxes{

  padding:4%;

  padding-bottom: 4%;

  margin-left: 17%;

  border-radius: 26px;

  width: 25%;

  font-family: 'Source Sans Pro', sans-serif;

  background-color: #2D8D34;

  color:white;

  border-width: thin;

  font-weight:bold;

}

.inputHomepage, #emailLogin, #passwordLogin{




  width: 100%;

  padding-left:4%;

  height: 40px;

  margin: 3% 0;

  border-radius: 26px;

  background-color: whitesmoke;

  border-color: grey;

  font-family: 'Source Sans Pro', sans-serif;

  border-width: thin;




  }

  .bi-eye{

    margin-left: 90%;

  }




  .bi-eye-slash{

    margin-left: 90%;

  }




   

@media screen and (max-width: 1108px) {

    .logo-Login{

    margin-left: 30%;

     }

    .div-login{

    margin-left: 28%;

    margin-right: 28%;

    height: 400px;

    font-size: 18px;

    }

    .inputHomepage[type=text],[type=password],[type=email]{

    font-size: small;

    }

   .boxes{

    padding:2%;

    margin-left: 12%;

    margin-right: 10%;

    height: 40px;

    width: 100px;

    }

    .bi-eye{

    margin-left: 90%;

    }

   

     .bi-eye-slash{

       margin-left: 90%;

   

     }

  }




  @media screen and (max-width: 1050px) {




   .boxes{

    margin-left: 10%;

    margin-right: 10%;

    }

   

  }




  @media screen and (max-width: 980px) {




    .boxes{

     margin-left: 10%;

     margin-right: 8%;

     }

     .div-login{

      font-size: 16px;

      }

   

   }

   @media screen and (max-width: 918px) {




    .logo-Login{

      margin-left: 28%;

      }

   

     .div-login{

      font-size: 16px;

      margin-left: 25%;

      margin-right: 25%;

      }

 

   }

   @media screen and (max-width: 780px) {

    .logo-Login{

      margin-left: 24%;

      }

   

    .div-login{

     font-size: 16px;

     margin-left: 20%;

     margin-right: 20%;

     }

     .boxes{

      margin-left: 13%;

      margin-right: 10%;

      }

  }




  @media screen and (max-width: 740px) {

    .logo-Login{

      margin-left: 23%;

      }

   

    .div-login{

     font-size: 16px;

     margin-left: 18%;

     margin-right: 18%;

     }

   

  }




  @media screen and (max-width: 685.33px) {

    .logo-Login{

      margin-left: 20%;

      }

   

    .div-login{

     font-size: 16px;

     margin-left: 15%;

     margin-right: 15%;

     }

     .boxes{

      margin-left: 15%;

      margin-right: 5%;

      }

  }




  @media screen and (max-width: 555.33px) {

    .logo-Login{

      margin-left: 14%;

      }

   

    .div-login{

     font-size: 16px;

     margin-left: 15%;

     margin-right: 15%;

     }

     .boxes{

      margin-left: 11%;

      margin-right: 5%;

      }

  }

  @media screen and (max-width: 489.6px) {

    .logo-Login{

      margin-left: 10%;

      }
   

    .div-login{

     font-size: 16px;

     margin-left: 12%;

     margin-right: 12%;

     }


  }