
.wholeHomePage{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgb(146, 209, 109), rgb(25, 154, 13));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-signup {
  min-width: 300px;
  height: 80%;
  background-color: whitesmoke;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logoSignUpPage {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.logo-signup{
  width: 180px;
} 

.titleSignUp {
  text-align: left;
  color: #3DAD58;
  font-size: 20px;
  margin: 15px 15px 15px 15px;
}

.inside {
  font-weight: bolder;
  color: #2C3E50;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelContainer{
  width: 90%;
  height: 40px;
  font-weight: bolder;
  color: #333;
  font-size: large;
  font-size: 18px;
  margin-bottom: -10px;
}

.inputSignUpPage{
    width: 90%;
    height: 42px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 15px;
}

.password-signup-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.password-signup{
    width: 90%;
    height: 42px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 15px;
}
.eye-show-hide {
  width: 25px;
  position: absolute;
  right: 20px;
  top:38%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s;
}

.signup-button-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 20px auto 0px auto;
}

.signup-submit-button{
  background-color: #3dad58;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, transform 0.2s;
  width: 200px;
  align-self: center;
  margin-bottom: 5px;
}

.signup-submit-button:hover{
background-color: #20c948; 
transform: translateY(-2px); 
}

.cancel-signup-button{
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, transform 0.2s;
  width: 200px;
}

.cancel-signup-button:hover{
  background-color: #c0392b; 
  transform: translateY(-2px); 
}

@media only screen and (min-width: 667px){
  .titleSignUp {
    margin: 15px 15px 15px 23px;
  }
  
  .div-signup {
    min-width: 500px;
  }

  .eye-show-hide {
    right: 30px;
  }
}

@media only screen and (min-width: 844px){

}

@media only screen and (min-width: 1180px){
  
}

@media only screen and (min-width: 1280px){
  
}



