
.viewBooking {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    background-color: #fff;
    border: 1ps solid #000;
}

.header-ab {
  width: 100%;
  padding: 50px 10px 10px 10px;
}

.header-ab-items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 20px;
}

#logo-ab {
  max-width: 120px;
  height: auto;
  align-self: center;
}
.title-ab{
    font-size: 20px;
    font-weight: bolder;
}

.header-icon-ab {
  font-size: 20px;
}

.filter-tools-ab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort-tool-ab{
    width: 250px;
    height: 42px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 5px;
}

.total-search-ab{
    margin: 0;
    font-size: 16px;
    align-self: center;
    padding: 10px;
    margin-bottom: 5px;
}

.totalBookings{
    font-weight: bolder;
}

.search-tool-ab{
    position: relative;
    display: inline-block;
}

.search-input-ab{
    width: 250px;
    height: 42px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    justify-self: center;
}

.search-icon-ab {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}
.button-container-ab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}

.button-header-ab{
    background-color: #3dad58;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
    width: 250px;
    align-self: center;
    margin-bottom: 5px;
}

.button-header-ab:hover{
        background-color: #20c948; 
        transform: translateY(-2px); 
}

.hide-column-1,
.hide-column-6,
.hide-column-7,
.hide-column-8{
    display: none;
}

.table-responsive{
    padding: 10px;
}

.table-header-ab{
    font-size: 16px;
}

.row-container-ab{
    font-size: 16px;
    vertical-align:  top;
}

.footer-ab{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    margin-top: -25px;
}

.total-search-ab{
    margin: 0;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-indicator{
    padding: 10px;
}

.button-footer-ab{
    background-color: #3dad58;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
    width: 50px;
    align-self: center;
}

.button-footer-ab:hover{
        background-color: #20c948; 
        transform: translateY(-2px); 
}

@media only screen and (min-width: 667px){
    .header-ab {
        width: 100%;
        padding: 50px 10px 00px 10px;
      }
    
    .header-ab-items {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    
    #logo-ab {
        max-width: 150px;
        height: auto;
        align-self: flex-start;
    }

    .header-icon-ab {
        font-size: 30px;
    }
    .title-ab{
        font-size: 22px;
        align-self: flex-start;
        margin-left: 10px;
    }

    .filter-tools-ab{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 10px;
    }
    
    .button-container-ab{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        margin-top: 20px;
    }

    .button-header-ab{
        width: 120px;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .sort-tool-ab{
        width: 200px;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .search-input-ab{
        width: 400px;
    }

    .table-responsive{
        padding: 0px 10px 10px 10px;
    }
}

@media only screen and (min-width: 768px){
    .hide-column-7{
        display: revert;
    }
    
}

@media only screen and (min-width: 844px){

}

@media only screen and (min-width: 1180px){
    .hide-column-1,
    .hide-column-6,
    .hide-column-8{
        display: revert;
    }
}

@media only screen and (min-width: 1280px){
    .header-ab {
        max-width: 1200px;
        margin: 0 auto;
      }

      .table-responsive{
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 10px;
    }

    .footer-ab{
        max-width: 1200px;
        margin: -25px auto 40px auto;
    }
}



