
.button-delete-ab{
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.button-delete-ab:hover{
    background-color: #c0392b; 
    transform: translateY(-2px); 
}

.button-modify-ab{
    background-color: #eac40a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-bottom: 5px;
}

.button-modify-ab:hover{
    background-color: #ffd500; 
    transform: translateY(-2px); 
}
@media only screen and (min-width: 667px){
   
}

@media only screen and (min-width: 768px){
    
}

@media only screen and (min-width: 844px){
    .row-button-ab{
        display: flex;
        justify-content: center;
    }

    .button-table-ab{
        width: 80px;
        height: 35px;
    }

    .button-modify-ab{
        margin-bottom: 0px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 1280px){
    
}