
.viewTicket{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
  background-color: #fff;
}

.header-at {
width: 100%;
padding: 50px 10px 10px 10px;
}

.header-at-items {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;
margin-bottom: 20px;
}

#logo-at {
max-width: 120px;
height: auto;
align-self: center;
}
.title-at{
  font-size: 20px;
  font-weight: bolder;
}

.filter-tools-at{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sort-tool-at{
width: 250px;
height: 42px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 6px;
background-color: #f8f8f8;
font-size: 15px;
color: #333;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s;
margin-bottom: 5px;
}

.total-search-at{
margin: 0;
font-size: 15px;
align-self: center;
padding: 10px;
margin-bottom: 5px;
}

.totalTickets{
font-weight: bolder;
}

.search-tool-at{
position: relative;
display: inline-block;
}

.search-input-at{
width: 250px;
height: 42px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 6px;
background-color: #f8f8f8;
font-size: 15px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s;
justify-self: center;
}

.search-icon-at {
position: absolute;
top: 50%;
right: 5px;
transform: translateY(-50%);
pointer-events: none;
}

.button-container-at {
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: center;
margin-top: 20px;
}

.button-header-at{
background-color: #3dad58;
color: #fff;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: 6px;
padding: 5px 8px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
transition: background-color 0.3s, transform 0.2s;
width: 250px;
align-self: center;
margin-bottom: 5px;
}

.button-header-at:hover{
background-color: #20c948; 
transform: translateY(-2px); 
}

.hide-at-column-1,
.hide-at-column-2,
.hide-at-column-3,
.hide-at-column-5,
.hide-at-column-6,
.hide-at-column-7,
.hide-at-column-8{
  display: none;
}

.table-responsive{
padding: 10px;
}

.table-header-at{
font-size: 15px;
}

.row-container-at{
font-size: 15px;
vertical-align: top;
}

.button-delete-at{
background-color: #e74c3c;
color: #fff;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: 6px;
padding: 5px 8px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
transition: background-color 0.3s, transform 0.2s;
width: 100%;
}

.button-delete-at:hover{
background-color: #c0392b; 
transform: translateY(-2px); 
}

.button-resolve-at{
background-color: #eac40a;
color: #fff;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: 6px;
padding: 5px 8px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
transition: background-color 0.3s, transform 0.2s;
width: 100%;
margin-bottom: 5px;
}

.button-resolve-at:hover{
background-color: #ffd500; 
transform: translateY(-2px); 
}

.footer-at{
display: flex;
justify-content: space-between;
padding: 0 10px 10px 10px;
margin-top: 0;
}

.total-search-at{
margin: 0;
}

.pagination-container{
display: flex;
justify-content: center;
align-items: center;
}

.page-indicator{
padding: 10px;
}

.button-footer-at{
background-color: #3dad58;
color: #fff;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: 6px;
padding: 5px 8px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
transition: background-color 0.3s, transform 0.2s;
width: 50px;
align-self: center;
}

.button-footer-at:hover{
background-color: #20c948; 
transform: translateY(-2px); 
}

@media only screen and (min-width: 667px){
.header-at {
    width: 100%;
    padding: 50px 10px 00px 10px;
  }

.header-at-items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

#logo-at {
    max-width: 150px;
    height: auto;
    align-self: flex-start;
    margin-left: -10px;
}

.header-icon-at {
    font-size: 30px;
}
.title-at{
    font-size: 22px;
    align-self: flex-start;
}

.filter-tools-at{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}

.button-container-at{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.button-header-at{
    width: 120px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.sort-tool-at{
    width: 200px;
    margin-bottom: 0;
    margin-right: 10px;
}

.search-input-at{
    width: 400px;
}

.table-responsive{
    padding: 0px 10px 10px 10px;
}

.hide-at-column-1,
.hide-at-column-6{
  display: revert;
}
}

@media only screen and (min-width: 768px){
/* .hide-column-7{
    display: revert;
} */

}

@media only screen and (min-width: 844px){
.hide-at-column-3{
  display: revert;
}
}

@media only screen and (min-width: 1180px){
.hide-at-column-2,

.hide-at-column-5,
.hide-at-column-7,
.hide-at-column-8{
    display: revert;
}
}

@media only screen and (min-width: 1280px){
.header-at {
  max-width: 1200px;
  margin: 0 auto;
}
.filter-tools-at{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.button-container-at{
  max-width: 1200px;
  margin: 0 auto;
}

.table-responsive{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
}

.footer-at{
  max-width: 1200px;
  margin: -25px auto 40px auto;
}
}


.adminTicketPic{
  width: 100px;
}